html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e3e3e3;
}

.form {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  background-color: #ffffff;
}
