html,
body {
  height: 100%;
}
*:focus {
  outline: none !important;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e3e3e3;
}

.form {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  background-color: #ffffff;
}
.dialog-title {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 400;
}
.dialog-button {
  border-radius: 25px !important;
  padding: 0 3rem !important;
  background: #ffffff !important;
  color: #000000 !important;
}
.otp-btn {
  width: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 2rem !important;
  border-radius: 25px !important;
}
.social-link {
  background: #e2e2e2;
  padding: 1rem;
  border-radius: 100px;
}
.mdl-textfield__label__icon {
  position: absolute;
  left: -15%;
  top: 26px;
}
.mdl-dialog {
  border-radius: 5px;
  height: 325px;
}
.mdl-button--fab {
  min-width: 40px;
  width: 40px;
  height: 40px;
}
